.welcome{
    background-color: rgb(185, 239, 239);
}
.menu{
    background-color: rgb(145, 192, 192);
}
.main{
    background-color: rgb(164, 212, 212);
}
.photos{
    background-color: rgb(81, 112, 112);
}
.contact{
    background-color: rgb(53, 73, 73);
}
.photos img {
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(5, 11, 11);
    padding-left:10px ;
}
.menu ul{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
.menu li a {
    display: inline-block;
    padding: 10px;
    width: 150px;
    height: auto;
    background-color: cadetblue;
    text-align: center;
    color:rgb(27, 56, 57) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    border-radius: 6px;
}